# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.tfvars
terraform/backend.hcl

# Lambda packaging
*.zip
package/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets -- never commit
*.pem
*.key
*.crt
passphrase.txt
client-bundle.pem

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# pytest
.pytest_cache/
